.pf-project-page-cont-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pf-project-p-slider-box {
    width: 44em;
}

.pf-proj-p-slide-cont {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 1em;
    list-style: none;
}

.slick-prev:before,
.slick-next:before {
    color: var(--pf-col-mlight-text) !important;
    transition: 0.3s;
}

.slick-dots li button:before {
    color: #686868 !important;
    opacity: 0.7 !important;
}

.slick-dots li.slick-active button:before {
    color: var(--pf-col-mlight-text) !important;
}

.pf-project-p-img-slider-box .swiper-button-prev,
.pf-project-p-img-slider-box .swiper-button-next {
    background-color: #1717170e;
    border-radius: 5px;
    transition: 0.3s;
    backdrop-filter: blur(5px);
}

.pf-project-p-img-slider-box .swiper-button-prev:hover,
.pf-project-p-img-slider-box .swiper-button-next:hover {
    background-color: #17171738;
}

.pf-project-p-img-slider-box .swiper-button-prev::after,
.pf-project-p-img-slider-box .swiper-button-next::after {
    font-size: 1.2em !important;
    font-weight: bold;
    color: var(--pf-col-violet)
}

.pf-project-p-cont-box {
    width: 38em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 5px 0 #6e6e6e;
    border-radius: 20px;
    gap: 0.9em;
}

.pf-proj-p-cont-box-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pf-project-p-img-slider-box {
    width: 300px;
}

.pf-project-p-img-slider-box .slick-prev:before,
.pf-project-p-img-slider-box .slick-next:before {
    display: none;
}

.pf-proj-img-sl-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
}

.pf-proj-p-cont-box-img-box img {
    max-width: 300px;
    max-height: 180px;
    cursor: zoom-in;
}

.pf-proj-p-cont-box-heading-box span {
    font-size: 1.2em;
    font-weight: bold;
}

.pf-st-quote-symbol {
    font-size: 1.2em;
    color: var(--pf-col-violet);
}

.pf-proj-p-cont-box-des-line {
    width: 100%;
    overflow: hidden;
    white-space: pre-wrap;
    font-size: inherit;
    margin-bottom: 0;
    line-height: 1.4em;

    & h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
    }
}

.pf-proj-p-cont-box-btn-box {
    display: flex;
    gap: 1em;
}

.pf-btn-dblue {
    background-color: #094183;
    color: white;
    padding: 0.2em 0.6em;
}

.pf-btn-dblue:hover {
    background-color: #063163;
    color: white;
    box-shadow: 0 0 4px 0 #474747;
}

.pf-btn-dsblue {
    background-color: #5294ce;
    color: white;
    padding: 0.2em 0.6em;
}

.pf-btn-dsblue:hover {
    background-color: #3473aa;
    color: white;
    box-shadow: 0 0 4px 0 #474747;
}

.pf-proj-p-cont-box-tag-box ul {
    display: flex;
    flex-flow: wrap;
    gap: 0.6em;
}

.pf-proj-p-cont-box-tag-box ul li {
    list-style: none;
    padding: 0 0.5em;
    background-color: #678fbf66;
    border-radius: 5px;
    color: var(--pf-col-lvio);
}

/* ######## */
.pf-project-cont-box-anim {
    animation: fullDesBoxAnim 0.4s 1;
}

.pf-project-full-des-box {
    justify-content: flex-start !important;
    overflow-y: scroll !important;
    gap: 2.5em;
    max-height: 65vh;
}

.pf-project-load-box {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

@keyframes fullDesBoxAnim {
    0% {
        opacity: 0;
        display: none;
    }

    50% {
        opacity: 0;
        display: none;
    }

    51% {
        display: flex;
        transform: rotate3d(0, 1, 0, 90deg);
    }

    100% {
        opacity: 1;
        transform: rotate3d(0, 1, 0, 0deg);
    }
}

.pf-project-full-des-box::-webkit-scrollbar {
    display: none;
}

.pf-project-p-cont-box-disabled {
    display: none;
    animation: projContRotateAnim 0.2s 1;
}

@keyframes projContRotateAnim {
    0% {
        transform: rotate3d(0, 1, 0, 0deg);
        opacity: 1;
        display: flex;
    }

    100% {
        transform: rotate3d(0, 1, 0, 90deg);
        opacity: 0.5;
        display: none;
    }
}

.pf-back-arrow-btn {
    padding: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--pf-col-nav-opt-dark);
    transition: 0.2s;
}

.pf-back-arrow-btn:hover {
    border: 1px solid #363636;
    background-color: #14141426;
}

.pf-back-arrow-btn:active {
    border: 1px solid #494949;
    background-color: #9b9b9b4f;
    scale: 0.95;
}

.pf-back-arrow-btn:active>span {
    display: block;
    transform: translateX(4px);
    transition: 0.2s;
}

/* ######### */
.pf-img-show-popup-back {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000085;
    z-index: 3;
    backdrop-filter: blur(2px);
}

.pf-img-show-popup-container {
    width: 80vw;
    height: 100vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.pf-img-show-popup-close-btn-box {
    position: fixed;
    top: 2em;
    right: 0em;
    z-index: 4;
}

.pf-img-popup-close-btn {
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--pf-col-nav-opt-dark);
    width: 3em;
    height: 3em;
    transition: 0.3s;
    text-align: center;
    border-radius: 7px;
}

.pf-img-popup-close-btn:hover {
    border: 1px solid #363636e0;
    background-color: #14141426;
}

.pf-img-popup-close-btn:active {
    border: 1px solid #494949;
    background-color: #9b9b9b4f;

    & i {
        transition: 0.3s;
        display: block;
        scale: 0.9;
    }
}

.pf-img-box-popup-swiper {
    width: 80vw;
    animation: imgPopupAnim 0.4s 1;
}

@keyframes imgPopupAnim {
    0% {
        scale: 0.3;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

.pf-img-show-box-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}


.pf-img-show-box-img-box img {
    max-width: 50vw;
    max-height: 80vh;
}



/* Responsive Css  */

@media only screen and (max-width: 1050px) {
    .pf-img-show-box-img-box img {
        max-width: 60vw;
    }
}

@media only screen and (max-width: 950px) {
    .pf-project-p-slider-box {
        width: 70vw;
    }
}

@media only screen and (max-width: 760px) {
    .pf-project-p-slider-box {
        width: 75vw;
    }

    .pf-img-show-popup-container {
        width: 95vw;
    }

    .pf-img-box-popup-swiper {
        width: 95vw;
    }

    .pf-img-show-box-img-box img {
        max-width: 70vw;
    }
}

@media only screen and (max-width: 500px) {
    .pf-project-p-slider-box {
        width: 85vw;
    }

    .pf-img-show-box-img-box img {
        max-width: 75vw;
    }

}

@media only screen and (max-width: 450px) {
    .pf-project-p-slider-box {
        width: 90vw;
    }

    .slick-prev:before,
    .slick-next:before {
        display: none;
    }

    .pf-img-show-popup-container {
        width: 100vw;
    }

    .pf-img-box-popup-swiper {
        width: 100vw;
    }

    .pf-img-show-box-img-box {
        height: 85vh;
    }

    .pf-img-show-popup-close-btn-box {
        top: 1em;
        right: 0.5em;
    }

    .pf-img-show-box-img-box img {
        max-width: 95vw;
        max-height: 85vh;
    }
}

@media only screen and (max-width: 415px) {
    .pf-proj-p-cont-box-img-box img {
        max-width: 250px;
    }

    .pf-project-p-img-slider-box {
        width: 250px;
    }

}

@media only screen and (max-width: 415px) {
    .pf-project-p-slider-box {
        margin: 0;
    }

}

@media only screen and (max-width: 355px) {
    .pf-project-p-slider-box {
        margin: 0;
    }

    .pf-proj-p-cont-box-tag-box ul li {
        font-size: 0.9em;
    }

    .pf-proj-p-cont-box-img-box img {
        max-width: 60vw;
    }

    .pf-project-p-img-slider-box {
        width: 60vw;
    }

}